# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL="postgres://postgres.bcwyzymxczotnoonwwlt:eJ1Q2LsfY3sjYcuf@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_PRISMA_URL="postgres://postgres.bcwyzymxczotnoonwwlt:eJ1Q2LsfY3sjYcuf@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
SUPABASE_URL="https://bcwyzymxczotnoonwwlt.supabase.co"
NEXT_PUBLIC_SUPABASE_URL="https://bcwyzymxczotnoonwwlt.supabase.co"
POSTGRES_URL_NON_POOLING="postgres://postgres.bcwyzymxczotnoonwwlt:eJ1Q2LsfY3sjYcuf@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
SUPABASE_JWT_SECRET="7Jmpvaq6h1skvp1dIM0JvElAJ/gH1U+6IdlRuW+BL7npkPRW8opMS6TZYBcD4S8KUsW0M8RXauFIDjlfC6CM4g=="
POSTGRES_USER="postgres"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjd3l6eW14Y3pvdG5vb253d2x0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM2MDY5NjYsImV4cCI6MjA1OTE4Mjk2Nn0.8UJjvwFVIjk2IhQOkd0-jOA0cjiz0Iyg0k3KDSYCXU0"
POSTGRES_PASSWORD="eJ1Q2LsfY3sjYcuf"
POSTGRES_DATABASE="postgres"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjd3l6eW14Y3pvdG5vb253d2x0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MzYwNjk2NiwiZXhwIjoyMDU5MTgyOTY2fQ.fZ2YZSpkjqAjBFaDtOl23csEN--w3FSXz0aUlSd7V6M"
POSTGRES_HOST="db.bcwyzymxczotnoonwwlt.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjd3l6eW14Y3pvdG5vb253d2x0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM2MDY5NjYsImV4cCI6MjA1OTE4Mjk2Nn0.8UJjvwFVIjk2IhQOkd0-jOA0cjiz0Iyg0k3KDSYCXU0"

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth